body,
html {
  height: 100%;
}
body .dashboard,
html .dashboard {
  height: 100%;
}
body .container,
html .container {
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
}
.login {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.login-backgroud {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.login-backgroud .login-backgroud-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.login-backgroud .login-backgroud-img img {
  height: 100%;
  width: 100%;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  border: 1px solid #CCC!important;
}
input:focus {
  border: 1px solid #6bc30d;
  outline: none;
}
.login_container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.login_container .login_bg {
  height: auto;
  min-height: 400px;
  width: 100%;
}
.login_container .login_bg .login_img {
  z-index: 1;
  min-width: 1920px;
  max-height: 1080px;
  overflow: hidden;
  background-color: #000;
}
.login_container .login_bg .login_img .l_img {
  display: block;
  width: 100%;
}
.login_container .login_bg .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
.login_container .login_content {
  z-index: 1;
  position: absolute;
  width: 30%;
  height: 60%;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0 0 50px 0.8vmax rgba(0, 0, 0, 0.2);
}
.login_container .login_content .login-logobox {
  position: relative;
  margin: 0 auto;
  margin-top: 10%;
  width: 70%;
  height: 13%;
}
.login_container .login_content .login-logobox .login-logoimagebox {
  display: inline-block;
  width: 20%;
  height: 95%;
}
.login_container .login_content .login-logobox .login-logoimagebox img {
  width: 100%;
  height: 100%;
}
.login_container .login_content .login-logobox .login-item {
  position: absolute;
  display: inline-block;
  width: 65%;
  height: 50%;
  margin-left: 10%;
  margin-top: 6%;
}
.login_container .login_content .login-logobox .login-item p {
  color: #676767;
  font-size: 21px;
}
.login_container .login_content .login-inputbox {
  width: 80%;
  height: 62%;
  margin: 0 auto;
  margin-top: 10%;
}
.login_container .login_content .login-inputbox .login-everybox {
  width: 100%;
  height: 12%;
  margin-bottom: 7%;
}
.login_container .login_content .login-inputbox .login-everybox input {
  text-shadow: none;
  outline: none;
  width: 100%;
  height: 100%;
  text-indent: 12px;
}
.login_container .login_content .login-inputbox .login-everybox > div {
  float: left;
  height: 100%;
}
.login_container .login_content .login-inputbox .login-everybox > div:nth-child(1) {
  width: 35%;
  float: left;
  height: 104%;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #CCCCCC;
  border-color: #CCCCCC;
  border-style: solid;
}
.login_container .login_content .login-inputbox .login-everybox > div:nth-child(1) img {
  width: 100%;
  height: 100%;
}
.login_container .login_content .login-inputbox .login-everybox > div:nth-child(2) {
  width: 62%;
  float: left;
  height: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #CCCCCC;
  border-color: #CCCCCC;
  border-style: solid;
  margin-left: 3%;
}
.login_container .login_content .login-inputbox .login-everybox > div:nth-child(2) input {
  width: 101%;
  height: 101%;
  margin-top: -1%;
  margin-left: -1%;
}
.login_container .login_content .login-inputbox .remeber-pass {
  width: 100%;
  height: 8%;
}
.login_container .login_content .login-inputbox .remeber-pass .remimg {
  float: left;
  width: 5%;
  margin-right: 3.5%;
}
.login_container .login_content .login-inputbox .remeber-pass .remimg img {
  width: 100%;
  height: 100%;
  margin-top: 4%;
}
.login_container .login_content .login-inputbox .remeber-pass .remtext {
  float: left;
  height: 20px;
  line-height: 20px;
  color: #808080;
  font-size: 16px;
}
.login_container .login_content .login-inputbox .login-submit {
  position: relative;
  width: 100%;
  height: 14%;
  text-align: center;
  margin-top: 8%;
  background-color: #6bc30d;
}
.login_container .login_content .login-inputbox .login-submit div {
  position: absolute;
  width: 100px;
  height: 20px;
  margin-left: -50px;
  left: 50%;
  margin-top: -10px;
  top: 50%;
  line-height: 20px;
  font-size: 18px;
  color: #fff;
}
.login_container .login_content .login-inputbox .error-text {
  width: 100%;
  font-size: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  color: red;
  height: 0;
  transition: all 0.5s;
}
.login_container .login_content .login-inputbox #error-active {
  height: 13%;
}
.login_container .login_content .QRcode-item {
  position: relative;
  width: 40%;
  height: 20px;
  top: 5%;
  margin: 0 auto;
  color: #808080;
  font-size: 16px;
}
.login_container .login_content .QRcodeImg {
  position: relative;
  width: 65%;
  height: 58%;
  margin: 0 auto;
  margin-top: 8%;
}
.login_container .login_content .QRcodeImg img {
  width: 100%;
  height: 100%;
}
